{:deps {io.github.nextjournal/clerk {:mvn/version "0.13.842"}}
 :aliases
 {:dev
  {:extra-paths ["dev"]
   :extra-deps  {org.slf4j/slf4j-nop                     {:mvn/version "1.7.36"}
                 io.github.nextjournal/clerk             {:mvn/version "0.13.842"}
                 io.github.nextjournal/clerk-slideshow   {:git/sha "562f634494a1e1a9149ed78d5d39fd9486cc00ba"}}}
  :nextjournal/clerk
  {:exec-fn nextjournal.clerk/build!
   :exec-args {:paths ["notebooks/ip-vs-hostname.md"]}
   ;; TODO: add all notebooks you want to have built ☝️
   ;; if you just want to build one notebook, set `:index`

   ;; optional list of aliases to include in the build
   :nextjournal.clerk/aliases [:dev]}}}
